:root {
    --main-bg-color: #6320EE;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../public/fonts/FuturaPT-Book.eot');
    src: url('../public/fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../public/fonts/FuturaPT-Book.woff') format('woff'),
    url('../public/fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: Brandon Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
p.dark-mode {
    color: whitesmoke!important;
}
/*for the header*/
.bandeau {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/*The biggest division usefull for the background*/
.div3 {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding-left: 10%;
}
.div3.dark-mode {
    background-color: #42414d!important;
}
/*The white division*/
.div4 {
    margin-left: 14%;
    margin-right: 14%;
    padding: 2%;
}
.div-menu {
    /*box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);*/
    box-shadow: 3px 5px 13px 0;
    border-radius: 80px;
    font-size: 250%;
    text-align: center;
    position: fixed;
    left: 1%;
    padding: 0.5rem;
    margin-top: 5%;
}
.div-menu.dark-mode {
    border-color: #6320EE!important;
}
.white {
    color: #F8F0FB;
}
.bg-main-color {
    background-color: var(--main-bg-color);
}
.bg-main-color.dark-mode {
    background-color: black!important;
}
.ash-grey {
    color: #8075FF;
}
.ash-grey.dark-mode {
    color: var(--main-bg-color)!important;
}
.titles {
    font-size: 50px;
    text-align: center;
}
.footer {
    grid-column: 1 / 12;
    grid-row: 50 / 50;
    background-color: whitesmoke;
}
.footer.dark-mode{
    background-color: black!important;
    color: whitesmoke!important;
}
.row {
    margin-right: auto;
}
.content {
    display: flex;
    padding-left: 3%;
}
.content img {
    height: 25rem;
}
.content p {
    font-size: 200%;
    max-width: 50%;
}
.title {
    color: #2044EE;
    font-size: 500%;
    text-align: center;
    font-weight: bold;
}
.title.dark-mode {
    color: #8954F2!important;
}
.photo img {
    height: 100%;
}
.link:hover {
    color: #8075FF;
    cursor: pointer;
 }
.logo img {
    height: 100%;
}
.center {
    text-align: center;
}
#dark-mode-btn {
    font-size: 170%;
    color: whitesmoke;
    margin-top: 40%;
    cursor: pointer;
}