<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.css" integrity="sha512-oKxseNVTlkZotRW+RYIvHay+YW4MfDQVJqFWy9Z9bklaFg6xWFjzDyx1AVcWhDgLC3l1EKAL0AdKfolKvnXbFQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container-fluid bandeau">
        <div class="row bg-main-color">
            <div class="col-sm center"><img src="../public/images/logo-utbm.png"></div>
            <div class="col-sm center logo"><img src="../public/images/logo-baptiste-removebg.png"> <a style="float: right"><i class="bi bi-moon" id="dark-mode-btn" onclick="switchToDarkMode()"></i></a></div>
        </div>
    </div>
    <div class="container-fluid div3">
        <div class="div-menu bg-main-color">
            <a href="#about-me">
                <i class="fa fa-home white link" aria-hidden="true"></i>
            </a>
            <br>
            <i class="fa fa-ellipsis-v ash-grey" aria-hidden="true"></i>
            <br>
            <a href="#skills">
                <i class="fa fa-address-card white link" aria-hidden="true"></i>
            </a>
            <br>
            <i class="fa fa-ellipsis-v ash-grey" aria-hidden="true"></i>
            <br>
            <a href="#projects">
                <i class="fa-regular fa-lightbulb white link" aria-hidden="true"></i>
            </a>
            <br>
            <i class="fa fa-ellipsis-v ash-grey" aria-hidden="true"></i>
            <br>
            <a href="#contact">
                <i class="fa-regular fa-paper-plane white link" aria-hidden="true"></i>
            </a>
        </div>
        <div class="row title" id="about-me">À propos de moi :</div>
        <div class="row content">
            <img class="col-3" src="../public/images/moi.jpg">
            <p class="col-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="row title" id="skills">
            Compétences :
        </div>
        <div class="row content">
            <p class="col-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="row title" id="projects">
            Projets :
        </div>
        <div class="row content">
            <p class="col-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="row title" id="contact">
            Me contacter :
        </div>
        <div class="row content">
            <p class="col-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
    </div>
    <footer class="footer row">
        ©&copy Baptiste PERRAT DIT JANTON 2022
    </footer>
</body>
<script>
    function switchToDarkMode(){
        if ($(".bg-main-color").hasClass("dark-mode")) {
            $(".bg-main-color").removeClass("dark-mode");
            $(".ash-grey").removeClass("dark-mode");
            $(".div3").removeClass("dark-mode");
            $(".title").removeClass("dark-mode");
            $("p").removeClass("dark-mode");
            $(".footer").removeClass("dark-mode");
            $(".bi-brightness-high").addClass("bi-moon").removeClass("bi-brightness-high");
        }else {
            $(".bg-main-color").addClass("dark-mode");
            $(".ash-grey").addClass("dark-mode");
            $(".div3").addClass("dark-mode");
            $(".title").addClass("dark-mode");
            $("p").addClass("dark-mode");
            $(".footer").addClass("dark-mode");
            $(".bi-moon").addClass("bi-brightness-high").removeClass("bi-moon");
        }
    }
</script>
</html>
